<% layout('layouts/boilerplate') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" href="\stylesheets\style.css">
    
</head>
<body>
    <a href="/paintings" class="back-to-home"><--Back to Home</a>
    <h2 style="color:rgb(132, 198, 212);">YOUR CART</h2>
    <div>
        <% if (paintings.length === 0) { %>
            <p class="empty-cart-message">Your cart is empty</p>
        <% } else { %>
            <% let totalPrice = 0; %>
            <% for(let painting of paintings) { %>
                <div class="product-container">
                    <div class="product-image">
                        <img crossorigin="anonymous" src="<%= painting.product.images[0].url %>" alt="<%= painting.product.name %>">
                    </div>
                    <div class="product-details">
                        <h5><%= painting.product.name %></h5>
                        <h4>$<%= painting.product.price %></h4>
                        <p>Quantity: <%= painting.quantity %></p>
                        <p><%= painting.product.description %></p>
                    </div>
                    <a class="delete-icon" href="/remove-from-cart/<%= painting.product._id %>">&#128465;</a>
                </div>
                <% totalPrice += painting.product.price * painting.quantity; %>
            <% } %>
            <div class="total-price">
                <p class="checkout-button">Total Price: $<%= totalPrice.toFixed(2) %></p>
                <a href="/checkout" class="checkout-button">Checkout</a>
                <br>
                <br>
            </div>
       
        <% } %>
    </div>
</body>
</html>
