
    <% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="\stylesheets\style.css">
    

  <form class="row g-3 needs-validation form-floating"  action="/paintings/<%= painting._id %>?_method=PUT" method="POST" novalidate enctype="multipart/form-data" >

    <a href="/paintings" style="margin-bottom:5px;color: rgb(32, 32, 63);"> <--- show products</a>
    <div class="col-md-4" >
      <label for="name" class="form-label" >enter the name of the product</label>
      <input type="text" class="form-control"  name="painting[name]" id="name"value="<%= painting.name %>" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="description" class="form-label">description</label>
      
      <textarea name="painting[description]" id="description" cols="30" rows="10" required><%=painting.description %></textarea>
       <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <input type="file" name="image" id="" multiple>
    <div class="col-md-4">
      <label for="price" class="form-label">enter price</label>
      <input type="text" class="form-control" id="price" name="painting[price]" value="<%= painting.price %>"required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div>
    <% painting.images.forEach((img,i)=>{%>
        <div >
          <% var u=img.url %>
            <% u=u.replace('/upload','/upload/w_400') %>
            <img crossorigin="anonymous" class="editimg d-block" src="<%= u %>" alt="">
            <div class="form-check-inline">
              <input type="checkbox" id="image<%=i%>" name="deleteImages[]" value="<%=img.filename %>">
            </div>
            <label class="deletelabel" for="image<%=i%>">delete</label>
          </div>
          <% })  %>
        </div>
    <div class="col-12">
      <button class="editsubmit" type="submit">Submit </button>
      <br>
    <br>
    </div>
    
  </form>

 
