<% layout('layouts/boilerplate') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="\stylesheets\indexstyle.css">
</head>
<body>
  <h1 class="products-heading">PRODUCTS</h1>
  <div class="filter-container">
    <label for="categoryFilter" style="color: white;">Filter by Category:</label>
    <select id="categoryFilter">
      <option value="all">All</option>
      <option value="jewelry">Jewelry</option>
      <option value="bags">Bags</option>
      <option value="homeappliance"> Home Appliance</option>
    </select>
  </div>
<div class="container d-flex flex-wrap align-items-center">
  <% for(let painting of paintings) { %>
    <div class="product card h-100"data-category="<%=painting.category%>">
      <img class="card-img-top" height="200px" src="<%= painting.images[0].url %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= painting.name %></h5>
        <h5 class="card-text"> $<%=painting.price%></h5>
        <a href="/paintings/<%= painting._id %>" class="showbutton">Show</a>
      </div>
    </div>
  <% } %>
</div>

</body>
</html>
<script>
  document.getElementById('categoryFilter').addEventListener('change', filterProducts)
  function filterProducts(){
    console.log("hey")
    const catagory=document.getElementById('categoryFilter').value
    const products=document.querySelectorAll('.card')
    products.forEach(product=>{
      console.log(product)
      const productCategory = product.dataset.category;
      console.log(catagory,product.dataset.category)
      if(catagory=="all"||productCategory===catagory){
        product.style.display='block';
      }
      else{
        product.style.display='none';
      }
    })
  }
</script>