<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="\stylesheets\showstyle.css">
<a href="/paintings" style="margin-bottom:5px;color: rgb(32, 32, 63);"> <--- show products</a>
<div class="mb-3 mt-2">
 
  <div class="row">
    <div class="images">
      <div id="carouselExample" class="mycorou carousel slide ">
        <div class="carousel-inner">
          <% painting.images.forEach((img, i) => {  %>
          <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
            <% var u=img.url %>
            <img class="showimg" id="carousel-image" crossorigin="anonymous" src="<%=u %>" class="d-block" alt="">
          </div>
          <% }) %>
         
        </div>
        <% if(painting.images.length > 1) {%>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
            <span class="visually-hidden" >Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% } %>
      </div>
    </div>
  
    <div class="info card cardshow">
      <div class="card-body flex-grow-1">
        <h5><%= painting.name %></h5>
        <h4>$<%= painting.price %></h4>
        <h7>seller:<%= painting.sellername.username%></h7>
        <h6>Description: <%=painting.description %></h6>
        <br>   
  
        <% if(req.session.user_id==painting.sellername._id){ %>
        <div class="btn">
          <span>
            <form class="d-inline" action="/paintings/<%=painting._id %>/edit" class="card-link btn "">
              <button class="edit" >Edit</button>
            </form>
          </span>
          <span>
            <form class="d-inline" action="/paintings/<%=painting._id%>?_method=DELETE" method="POST" class="card-link btn btn-da" >
              <button class="delete" >Delete</button>
            </form>
          </span>
        </div>
  
        <% } else if(req.session.user_id) {%>
          <div class="ms-0">
            <form action="/paintings/<%=painting._id %>/cart" method="POST" style="margin-top: auto;">
              <button class="addtocart">Add to Cart</button>
            </form>
          </div>
        <%}%>
      </div>
  
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const img = document.getElementById('carousel-image');
      const screenWidth = window.innerWidth;
      const halfScreenWidth = Math.floor(screenWidth / 2);
      const newSrc = img.src.replace('/upload', `/upload/w_${halfScreenWidth}`);
      img.src = newSrc;
  });
</script>